- When building C# code to see if it compiles, only build the affected project, not the whole solution.
- a succesfull build does not mean the implementation is correct.

* Workflow
Follow this sequence of steps:
1. Analyze
2. Design
3. Implement
4. Build
5. Test
6. Get confirmation from human tester

* Documentation
- The documentation is mainly there for AIs to understand the goals and requirements. Not a history of changes.
- The root of the project contains an Obsidian vault named "Knowledge". 
- Document only functional requirements, avoid implementation details.
- Avoid documenting benefits or non-functional requirements.

* Feedback
- Ask for a decision when there is a choice of actions to take.
- Ask for clarification if there is any ambiguity about the expected behavior.
- Ask specific questions if the context of a task is unclear.
